body,h1, p, li, input, button{
  padding: 0;
  margin: 0;
    font-family: sans-serif;
    text-decoration: none;
}
.header-pic {
    width: 70%;
    height: 70%;
    margin-top: 70px;
}
.header-content {
position: relative;
text-align: center;
}
.header-text  {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-130%,-50%);
    text-align: center;
    width: 27%;
    color: #fff;
    font-size: 40px;
}
.SecndDiv {
text-align: center;
}
.SecndDiv-context {
    font-size: 20px;
}
.SecDiv_Pic{
width: 38%;
}
.secText {
    color: red;
}
.ThirdDiv {
    margin-top: 20px;
    text-align: center;
    background-size: cover;
}
.ThirdDiv{
    position: relative;
}
.thirdPic{
    width: 80%;
}
.thirdContent{
 position: absolute;
 transform: translate(10%,-115%);
 color: white;
 font-size: 28px;
}
.thirdContent-header{
    letter-spacing: 8px;
    width: 35%;
    text-align: left;
    margin-left: 5%;
}
.thirdContent-body{
    width: 60%;
    text-align: left;
    margin-left: 5%;
}
.join{
    text-align: left;
    margin-left: 5%;
    font-weight: bold;
}
.forthDiv{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
}
.forthDiv-Content{
    margin-top: 30px;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #FFF0F0;
    border-radius: 20px;
    font-size: 40px;
}
.forthDiv_button{
    padding: 20px 30px;
    font-size: 30px;
}
.fifthDiv{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 30px;
    text-align: center;
    margin-top: 195px;
}
.fifth-header{
    color: red;
}
.fifth-one {
 width: 30%;
}
.fifth-two {
width: 40%;
padding: auto;
}
.fifth-two>img {
    border-style: solid;
    width: 71%;
    border-color: red;
    border-radius: 250px;
    padding: 17px;
    border-width: 20px;
}
.fifth-three {
width: 25%;
}
.fifth-tag {
    font-size: 50px;
}
.sixthDiv{
    margin-top: 20px;

  
}
.sixthDiv-first {
    margin-top: 110px;
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;   
   
}
.sixthDiv-Sec{
    text-align: center;
    font-size: 77px;
}
.Holidays{
    color: red;
}
.six-pic{
    position: relative;
    margin-left: 25px;
}
.sixthDiv-p{
    font-size: 25px;
    width: 56%;
    text-align: center;
    margin-left: 23%;
    margin-top: 40px;
}
.siximage{
    position: absolute;
    margin-left: 750px;
    margin-top: 103px;
    width:17%;
}
.siximge-first{
    position: absolute;
    /* padding: 25px; */
    margin-left: 59%;
    width: 400px;
    height: 380px;
}
.siximg-Sec{
    position: absolute;
    margin-top: 25%;
    margin-left: 173px;
    width: 1109px;
    height: 165px;
}
.siximge-Thired {
    position: absolute;
    margin-left: 14%;
    margin-top: 8%;
    width: 610px;
    height: 410px;
}
.sevenDiv{
    margin-top: 43%;
    margin-left: 170px;
}
.sevenDiv > h4 {
    color: red;
}

.sevenDiv > p {
    margin-top: 10px;
    width: 55%;
    margin-bottom: 10px;
    color: gray;
}
.sevenDiv > li > img {
    width: 28%;
    height: 22%;
}
.eightDiv {
    margin-top: 100px;
    background-color: #FBA790;
    text-align: center;
    margin-left: 12%;
    margin-right: 13%;
}
.eightDiv-pic{
    margin-top: 87px;
    width: 120px;
    height: 120px;
}
.eight-Header{
    margin-top: 2%;
    font-size : 35px;
}
.eight-paragraph {
    width: 723px;
    margin-left: 150px;
    text-align: center;
    margin-top: 2%;
}
.eightButton-area{
    margin-top: 2%;
}
.eight-input-box{
    padding: 15px 50px;
    border-radius: 20px 0px 0px 20px ;
    margin-bottom: 50px;
}
.eight-input-button{
    padding: 15px 75px;
    border-radius: 0px 20px 20px 0px ;
    background-color: red;
}
.footer {
    background-color: black;
    color: white;
    margin-left: 182px;
    margin-right: 196px;
    text-align: center;
}

.footer-area {
   display: flex;
   padding: 85px 0 0 0 ;
}
.footer-text1 {
    width: 30%;
    text-align: center;
    margin-left: 80px;;
}
.footer-text2 {
    margin-left: 417px;
    text-align: right;
}
.footer-icon{
    padding: 25px 0 62px 0;
    gap: 5px;
}
.footer-foot {
    display: flex;
    padding: 0 0 50px 0;
    
}

.foot-1{
width: 50%;
margin-right: 280px;
}
.foot-2{
width: 50%;
}
.footpic1{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.footpic2{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.footpic3{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.footpic4{
    width: 50px;
    height: 50px;
}