body,h1, p, li{
  padding: 0;
  margin: 0;
    font-family: sans-serif;
    text-decoration: none;
}
.header-pic {
    width: 70%;
    height: 70%;
    margin-top: 70px;
}
.header-content {
position: relative;
text-align: center;
}
.header-text  {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-130%,-50%);
    text-align: center;
    width: 27%;
    color: #fff;
    font-size: 40px;
}
.SecndDiv {
text-align: center;
}
.SecndDiv-context {
    font-size: 20px;
}
.SecDiv_Pic{
width: 38%;
}
.secText {
    color: red;
}
.ThirdDiv {
    margin-top: 20px;
    text-align: center;
    background-size: cover;
}
.ThirdDiv{
    position: relative;
}
.thirdPic{
    width: 80%;
}
.thirdContent{
 position: absolute;
 transform: translate(10%,-115%);
 color: white;
 font-size: 28px;
}
.thirdContent-header{
    letter-spacing: 8px;
    width: 35%;
    text-align: left;
    margin-left: 5%;
}
.thirdContent-body{
    width: 60%;
    text-align: left;
    margin-left: 5%;
}
.join{
    text-align: left;
    margin-left: 5%;
    font-weight: bold;
}
.forthDiv{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
}
.forthDiv-Content{
    margin-top: 30px;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #FFF0F0;
    border-radius: 20px;
    font-size: 40px;
}
.forthDiv_button{
    padding: 20px 30px;
    font-size: 30px;
}
.fifthDiv{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 30px;
    text-align: center;
    margin-top: 195px;
}
.fifth-header{
    color: red;
}
.fifth-one {
 width: 30%;
}
.fifth-two {
width: 40%;
padding: auto;
}
.fifth-two>img {
    border-style: solid;
    width: 71%;
    border-color: red;
    border-radius: 250px;
    padding: 17px;
    border-width: 20px;
}
.fifth-three {
width: 25%;
}
.fifth-tag {
    font-size: 50px;
}
.sixthDiv{
    margin-top: 20px;

  
}
.sixthDiv-first {
    margin-top: 110px;
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;   
   
}
.sixthDiv-Sec{
    text-align: center;
    font-size: 77px;
}
.Holidays{
    color: red;
}
.six-pic{
    position: relative;
}
.sixthDiv-p{
    font-size: 25px;
    width: 56%;
    text-align: center;
    margin-left: 23%;
    margin-top: 40px;
}
.siximge-first{
    position: absolute;
    /* padding: 25px; */
    margin-left: 59%;
    width: 400px;
    height: 380px;
}
.siximg-Sec{
    position: absolute;
    margin-top: 25%;
    margin-left: 173px;
    width: 1122px;
    height: 165px;
}
.siximge-Thired {
    position: absolute;
    margin-left: 14%;
    margin-top: 8%;
    width: 610px;
    height: 410px;
}
.sevenDiv{
    margin-top: 43%;
    margin-left: 170px;
}
.sevenDiv > h4 {
    color: red;
}

.sevenDiv > p {
    margin-top: 10px;
    width: 55%;
    margin-bottom: 10px;
    color: gray;
}
.sevenDiv > li > img {
    width: 28%;
    height: 22%;
}
.eightDiv {
    background-color: #FBA790;
    text-align: center;
}